			.instruct {
				border:solid;
				border-width:6px;
				border-color:#cc3300;
				border-radius:10px;
				background-color:#ccccff;
				box-shadow:10px 10px 5px #888888;
			}
			.learnObjs {
				border:solid;
				border-width:6px;
				border-color:#0066ff;
				border-radius:10px;
				background-color:#f0f2f4;
				box-shadow:10px 10px 5px #888888;
			}
			.fleet:before {
				content:"In the Fleet:";
				font-size:1.2em;
				font-weight:bold;
			}
			.fleet {
				float:right;
				border:solid;
				border-width:6px;
				border-color:#FFD633;
				border-radius:10px;
				background-color:#eeeeee;
				box-shadow:10px 10px 5px #888888;
				padding:0.5em;
				margin-right:0em;
				margin-bottom:0.75em;
				margin-left:0.75em;
				margin-top:1em;
				width:30em;
			}
			.fleet H1 {
				font-size:1em;
				font-weight:bold;
				display:inline;
				margin:0em;
				text-decoration:none;
				border-style:none;
			}
			.annotation:before {
				content:"Note:";
				font-weight:bold;
			}
			.annotation {
				float:right;
				border:solid;
				border-width:1px;
				/*font-size:0.8em;*/
				border-color:#ffcc00;
				border-radius:10px;
				background-color:#eeeeee;
				padding:0.5em;
				margin-right:0em;
				margin-bottom:0.5em;
				margin-left:0.5em;
				margin-top:0.5em;
				width:30em;
			}
			.annotation H1 {
				font-size:1em;
				font-weight:bold;
				display:inline;
				margin:0em;
				text-decoration:none;
				border-style:none;
			}
			.news:before {
				font-family:Times,serif;
				content:"In the News:";
				font-size:1.2em;
				font-weight:bold;
			}
			.news {
				float:right;
				border:solid;
				border-width:3px;
				border-color:#000000;
				border-radius:10px;
				background-color:#f9f9f9;
				box-shadow:10px 10px 5px #888888;
				padding:0.5em;
				margin-right:0em;
				margin-bottom:0.75em;
				margin-left:0.75em;
				margin-top:1em;
				width:30em;
				color:#000000;
			}
			.news > h1 {
				font-size:1em;
				font-weight:bold;
				display:inline;
				margin:0em;
				text-decoration:none;
				border-style:none;
			}

			.news > a:link {
				color:#000000;
			}
			.news > a:visited {
				color:#000000;
			}
			.news > a:active {
				color:#000000;
			}
			.news > a:hover {
				color:#ff0000;
			}
